# Environment Variables for Portfolio Website
# DO NOT COMMIT THIS FILE TO VERSION CONTROL!

# Email Configuration
# For Gmail: You need to create an "App Password" 
# Instructions: https://support.google.com/accounts/answer/185833
EMAIL_HOST_PASSWORD="gjzg pgnh ibwt irbx"
